*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.aider*

# Firebase emulator data
firebase/firebase-data/

# Archivos a ignorar
AGENTS.md
BUSQUEDA_PASEADORES_README.md
google-services.json
README_Codex.md
